*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    text-transform: uppercase;
}
table{
    margin: auto;
}
button{
    font-size: 23px;
    height: 43px;
    width: 72px;
    background-color: aqua;
    border-radius: 14px;
    border: 2px solid blueviolet;
    cursor: pointer;
}
input{
    font-size: 22px;
    padding: 8px;
    margin: 5px 0px;
    border-radius: 15px;
    border: 2px solid green;
}
.calcb{
    display: inline-block;
    background-color: lightgrey;
    border: 2px solid green;
    border-radius: 18px;
    padding: 13px;
}